form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & button {
    width: 100%;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: 0.2s ease-in;
    font-size: 18px;
  }

  .input.focus {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  }
  .input {
    border-radius: 4px;
    width: 100%;
    display: flex;
    background-color: white;
    position: relative;

    & input {
      transition: 0.2s ease-in;
      font-size: 18px;
      border-radius: 4px;
      border: none;
      outline: none;
      width: 100%;
      padding: 16px;
      padding-right: 40px;

      color: #1d455f;
      &::placeholder {
        color: #6c93ad;
      }
    }

    .button {
      position: absolute;
      width: min-content;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 8px;
      background-color: transparent;
      cursor: pointer;
      user-select: none;
      font-size: small;
    }
  }

  & button {
    background-color: #1d455f;
    color: #ffffffe6;
    cursor: pointer;

    &:hover {
      filter: brightness(1.1);
    }
    &:active {
      filter: brightness(1.3);
    }
  }
}
