form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & input,
  button {
    width: 100%;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: 0.2s ease-in;
    font-size: 18px;
  }

  & input {
    color: #1d455f;
    &:focus {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    }
    &::placeholder {
      color: #1d455f;
    }
  }

  & button {
    background-color: #1d455f;
    color: #ffffffe6;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }
    &:active {
      filter: brightness(1);
    }
  }
}
